<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete the question?
        <h2>Question:</h2>
        {{ question }}?</p>
        <h2>Total Votes</h2>
    <p>{{ question.get_total_votes}} votes.</p>
    <input type="submit" value="Confirm">
</form>
<button><a href="{% url 'polls:index'%}">Cancel : go Back</a></button>
