<form action="{% url 'polls:addNewQuestion'%}" method="post">{% csrf_token %}
      <h4><b>Please enter your new question details below:</b></h4>
    {{ form.as_p }}
    <label>Please select published (date, time):</label>

    <input type="date" name="pub_date" value="2017-06-01">
    <input id="appt-time" type="time" name="appt-time" step="3" value="00:00:00">

    <h4><b>Please enter the available choices (upto 4) for this question:</b></h4>
    <ul>
        {% for i in range %}
            <label>Choice {{forLoop.counter}}:</label>
            <input required type="text" name="choice_{{forLoop.counter}}">
            <br>
        {% endfor %}
    </ul>

<!--    <label>Please specify upto 4 choices below - for the answer:</label>-->
<!--    <label>Choice 1:</label>-->
<!--    <input type="text" name="choice_One">-->
<!--    <label>Choice 2:</label>-->
<!--    <input type="text" name="choice_Two">-->
<!--    <label>Choice 3:</label>-->
<!--    <input type="text" name="choice_Three">-->
<!--    <label>Choice 4:</label>-->
<!--    <input type="text" name="choice_Four">-->
    <input type="submit" value="Save">
</form>
