.pollsContainer {
    width: 50%;
    margin:auto;
    margin-top: 10%;

 }

 .pollsInfo {
    width: 25%;
 }

.listItem {
    border: 1px black solid;
    padding: 0px;
    margin-left: 0px;
}

.listTitle {
    border: 1px black solid;
    padding: 6px;
    margin: 0%;
    background-color: #417690;
    color: white;
    text-align: center;
}

.deleteLink {
    margin-left: 140px;
}

.navBar {
    background-color: #417690;
    color: white;
}

.deleteCol {
    text-align: right;
}
.pollsTable {
    border: 1px gray solid;
}
.detailsFormVoteContainer {
    text-align: center;
    display:flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    margin-top: 10%;
    border: 1px black solid;
    background: #F8F8FF;
}

.detailTitle {
    background-color: #417690;
    color: white;
}
.newQuestionFormTitle {
    background-color: #417690;
    color: white;
    padding: 5px;
}


.pollsButton {
    margin: 20px;
    align-self: flex-start;
}
.choice {
    padding: 10px;
}

.voteButton {
    padding: 20px;
}

.totalsRow {
    background-color: #ffffe0;
}

.votesCol {
    text-align: center;
}

.choiceRow {
     margin: 3px;
}

.titleRow {
    border-bottom: none;
    border-top: none;
    border: 1px gray solid;
    margin: 0%;
    padding: 20px;
    padding-left: 10px;
    background-color: #F5F5F5;
}

.newQuestionContainer {
    margin: auto;
    width: 50%;
    margin-top: 10%;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.newQuestionForm {
    border: 1px solid black;
}

.newformLabel {
      padding: 15px;
}

.saveButton {
    margin-top: 15px;
}

.deletingContainer {
    text-align: center;
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    border: 1px black solid;
    background: #F8F8FF;
}

